.weather-app {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 28px;
}

.first-weather-forecast {
	display: flex;
	align-items: center;
	gap: 44px;
	width: 100%;
}

.second-weather-forecast {
	display: flex;
	gap: 44px;
	width: 100%;
}

@media (max-width: 850px) {
	.weather-app {
		padding: 20px;
	}

	.first-weather-forecast,
	.second-weather-forecast {
		flex-direction: column;
	}
}