.weather-app {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 28px;
}

.first-weather-forecast {
	display: flex;
	align-items: center;
	gap: 44px;
	width: 100%;
}

.second-weather-forecast {
	display: flex;
	gap: 44px;
	width: 100%;
}

.load-cont {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.load {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #420dd3 80%, #0000) top / 9px 9px no-repeat, conic-gradient(#0000 30%, #420dd3);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
	animation: move 1.5s linear infinite;
}

@keyframes move {
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 850px) {
	.weather-app {
		padding: 20px;
	}

	.first-weather-forecast,
	.second-weather-forecast {
		flex-direction: column;
	}
}